@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.no-padding {
  padding: 0 !important;
}
/* .border-left{
  border-left: 1px solid #ccc;
} */
.bodyContainer{
  height: calc(100vh - 0rem);
  /* border: 2px solid #ccc; */
  overflow-y: auto;
}

.font-bold{
  font-weight: 600 !important;
}
.font-weight-unset{
  font-weight: 100 !important;
}
main{
  padding: 0px !important;
}
.MuiGrid-root{
  margin-top: 0 !important;
  margin-left: 0 !important;
  width:100% !important;
 
 }
.cursor-pointer{
  cursor: pointer !important;
}

@media (min-width: 600px) {

.MuiToolbar-root {
    min-height: unset !important;
}
}
[aria-labelledby="staticBackdropLabel"] {
  z-index: 999999999 !important;
}
.footer {
  /* background-color: #333;
  color: white; */
  padding-bottom: 16px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 36px);
}
.text-right{
  text-align: right !important;
}

 ::-webkit-scrollbar {
   width: 10px;
   margin-left: 10px;
 }

 ::-webkit-scrollbar-track {
   border-radius: 8px;
   background-color: #95a5a6;
   border: 1px solid #cacaca;
 }

 ::-webkit-scrollbar-thumb {
  border-radius: 8px;
   background-color: #2c3e50;
 }

 .MuiGrid-item{
  padding: 8px !important;
 }
 .fs-0_75{
  font-size: 0.75rem !important;
 }
 /* App.css */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: lightblue;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.cs-grid-custome{
  height: calc(100vh - 60px) !important; 
}

p,h1,h2,h3,h4,h5,h6{
  margin:0
}